<table id="sample-table-1" class="table table-striped table-bordered table-hover">
    <thead>
    <button class="btn">
        <a href="{:url('add')}"><i class="ace-icon fa fa-pencil align-top bigger-125"></i>
            添加记录</a>
    </button>
    <form action="{:url('del')}" method="post">
        <tr>
            <th class="center">
                <label class="position-relative">
                    <input type="checkbox" class="ace checkAll ">
                    <span class="lbl"></span>
                </label>
            </th>
            <th>缩略图</th>
            <th>标题</th>
            <th>介绍</th>
            <th>
                内容
            </th>
            <th class="hidden-480">
                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                添加时间
            </th>
            <th class="hidden-480">操作</th>
        </tr>
    </thead>

    <tbody>
    {volist name='list' id='c'}
    <tr>
        <td class="center">
            <label class="position-relative">
                <input type="checkbox" class="ace " name="id[]" value="{$c['id']}">
                <span class="lbl"></span>
            </label>
        </td>

        <td><img src="{$c.thumb}" alt="" width="100" height="100 ">

        </td>
        <td>{$c.title}</td>
        <td class="hidden-480">{$c.content}</td>
        <td>{$c.detail}</td>

        <td class="hidden-480">
            <span>{:date('Y-m-d H:i:s',$c.addtime)}</span>
        </td>
        <td>
            <a href="{:url('modfi',['id'=>$c.id])}" class="modf">修改</a>
            <a href="{:url('del',['id'=>$c.id])}" class="dels">删除</a>
            </div>
        </td>
    </tr>

    {/volist}
    <tr>
        <td colspan="7">
            <button type="submit" class="btn btn-white btn-warning btn-bold">
                <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                删除
            </button>
        </td>
    </tr>
    </form>
    <tr>
        <td colspan="7" align="center">
            {$list->render()}
        </td>
    </tr>
    </tbody>
</table>
<script src="__STATIC__/js/jquery-2.2.0.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script>
    $('.dels').click(function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        layer.confirm('您确定删除？', {
            btn: ['是', '否'] //按钮
        }, function () {
            window.location = url;
        })
    });
    $('.checkAll').click(function () {
        var isCheck = $(this).prop('checked');
        $('input[type=checkbox]').prop('checked', isCheck);
    });
</script>