{include file='public/header'}
<div class="banner" style="margin-top: 0px;">
    <div class="swiper-container3">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url(img/banner.jpg)center;background-size:cover;">
                <img src="__STATIC__/img/banner.jpg"/>
            </div>
            <div class="swiper-slide" style="background: url(img/banner2.jpg)center;background-size:100% auto;">
                <img src="__STATIC__/img/banner2.jpg"/>
            </div>
            <div class="swiper-slide" style="background: url(img/banner3.jpg)center;background-size:100% auto;">
                <img src="__STATIC__/img/banner3.jpg"/>
            </div>
        </div>
        <div class="swiper-pagination2"></div>
    </div>
    <script>
        var swiper = new Swiper(".swiper-container3", {
            pagination: ".swiper-pagination2",
            slidesPerView: 1,
            paginationClickable: true,
            loop: true,
            autoplay: 5000
        })
    </script>
    <div class="cont1">
        <div class="title">
            <p class="p1">A</p>
            <div class="p2">
                <p class="pp1">关于</p>
                <p class="pp2">BOUT US</p>
            </div>
        </div>
        <div class="cont1_box">
            <div class="cont1_left">
                <p class="p1">成都装修公司,引领家装砂浆品牌先导!!</p>
                <p class="p2">
                    成都市易建建筑材料有限公司成立于2012年5月18日，注册资金25000万，年产干拌砂浆50万吨、湿拌砂浆80万吨。公司办公地址位于中海国际中心E座，公司生产地址位于成都市大邑县沙渠工业园区，拥有机械化标准厂区50余亩，是目前成都地区预拌砂浆生产企业风向标。</p>
                <p class="p2">成都市易建建筑材料公司在公司的统一规划下，以预拌砂浆的生产与销售作为重点加强的核心业务。</p>
            </div>
            <div class="cont1_right">
                <img src="__STATIC__/img/cont1_pic1.jpg"/>
            </div>
        </div>
        <a href="about.html"><p class="moreP">MORE</p></a>
    </div>
    <div class="line"></div>
    <div class="cont2">
        <img src="__STATIC__/img/cont2_bg.jpg"/>
        <div class="title">
            <p class="p1">P</p>
            <div class="p2">
                <p class="pp1">产品</p>
                <p class="pp2">RODUCT</p>
            </div>
        </div>
        <div class="cont2_box">
            <div class="J_Poster poster-main" data-setting='{
	"width":1110,
	"height":500,
	"posterWidth":300,
	"posterHeight":500,
	"scale":0.85,
	"autoPlay":true,
	"delay":500000,
	"speed":300
}'>
                <div class="poster-btn poster-prev-btn"></div>
                <ul class="poster-list">
                    {volist name='prolist' id='v'}
                    <li class="poster-item">
                        <div class="pb_box">
                            <p class="p_img"><img src="{$v.thumb|thumb=###,300,312}"/></p>
                            <div class="p_info">
                                <p class="p1">{$v.title|cn_substr=###,20}</p>
                                <p class="p2">{$v.content|cn_substr=###,60}</p>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
                <div class="poster-btn poster-next-btn"></div>
            </div>
            <script type="text/javascript">
                $(function () {
                    Carousel.init($(".J_Poster"));
                });
                $(".pb_box").eq(0).addClass("index2");
                $(".poster-prev-btn").click(function () {
                    for (var i = 0; i < $(".poster-item").length; i++) {
                        if ($(".poster-item").eq(i).css("z-index") == "2") {
                            $(".poster-item").eq(i - 1).find(".pb_box").addClass("index2");
                        } else {
                            $(".poster-item").eq(i - 1).find(".pb_box").removeClass("index2");
                        }
                    }
                });
                $(".poster-next-btn").click(function () {
                    $(".poster-item").find(".pb_box").removeClass("index2");
                    for (var i = 0; i < $(".poster-item").length; i++) {
                        if ($(".poster-item").eq(i).css("z-index") == "2") {
                            if (i == 4) {
                                $(".pb_box").eq(0).addClass("index2");
                            } else {
                                $(".poster-item").eq(i + 1).find(".pb_box").addClass("index2");
                            }
                        }
                    }
                });
            </script>

        </div>
        <a href="product.html"><p class="moreP">MORE</p></a>
    </div>
    <div class="cont3">
        <div class="title">
            <p class="p1">N</p>
            <div class="p2">
                <p class="pp1">新闻</p>
                <p class="pp2">EWS</p>
            </div>
        </div>
        <div class="swiper-container1">
            <div class="swiper-wrapper">
                {volist name='newslist' id='v'}
                <div class="swiper-slide">
                    <div class="news_li">
                        <p class="p1">{$v.addtime|date='d',###}<span>/{$v.addtime|date='m',###}</span></p>
                        <p class="p2">{$v.title}</p>
                        <p class="p3"><img src="{$v.thumb|thumb=###,530,100}"/></p>
                        <p class="p4">{$v.description}</p>
                    </div>
                </div>
                {/volist}
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <script>
            var mySwiper = new Swiper('.swiper-container1', {
                direction: 'horizontal',
                loop: true,
                slidesPerView: 2,
                pagination: '.swiper-pagination',
                paginationClickable: true,
                spaceBetween: 60
            })
        </script>
        <a href="news.html"><p class="moreP">MORE</p></a>
    </div>
    <div class="line"></div>
    <div class="cont4">
        <div class="title">
            <p class="p1">C</p>
            <div class="p2">
                <p class="pp1">案例</p>
                <p class="pp2">ASE</p>
            </div>
        </div>
        <div class="cont4_box">
            <ul class="cont4_left">
                <li><img src="__STATIC__/img/cont4_pic2.jpg"/></li>
                <li><img src="__STATIC__/img/cont4_pic3.jpg"/></li>
                <li><img src="__STATIC__/img/cont4_pic4.jpg"/></li>
                <li><img src="__STATIC__/img/cont4_pic5.jpg"/></li>
            </ul>
            <div class="cont4_center">
                <p class="p1">专注提供高品质专修砂浆</p>
                <p class="p2">
                    公司秉承“以科技为先导，以创新求发展，以质量为依托，以诚信待客户”的企业精神，“以信誉为生命，以产品为基石，以服务为保证，以价格为标杆，以利润为中心”的经营理念，坚持以“水泥基为基础，创科技型、管理型、专家型”企业的发展方向，追求品牌专业化、环境榜样化、团队素质化、顾客主动化，以奉献绿色建材为己任。</p>
            </div>
            <ul class="cont4_right">
                <li><img src="__STATIC__/img/cont4_pic6.jpg"/></li>
                <li><img src="__STATIC__/img/cont4_pic7.jpg"/></li>
                <li><img src="__STATIC__/img/cont4_pic8.jpg"/></li>
                <li><img src="__STATIC__/img/cont4_pic9.jpg"/></li>
            </ul>
        </div>
        <a href="project.html"><p class="moreP">MORE</p></a>
    </div>
    <div class="line"></div>
    <div class="cont5">
        <div class="title">
            <p class="p1">C</p>
            <div class="p2">
                <p class="pp1">合作企业</p>
                <p class="pp2">OOPERATION</p>
            </div>
        </div>
        <div class="cont5_box">
            <table border="0" cellpadding="0" cellspacing="0 ">
                <tr>
                    <td><img src="__STATIC__/img/cont5_pic1.jpg"/></td>
                    <td><img src="__STATIC__/img/cont5_pic2.jpg"/></td>
                    <td><img src="__STATIC__/img/cont5_pic3.jpg"/></td>
                    <td><img src="__STATIC__/img/cont5_pic4.jpg"/></td>
                </tr>
                <tr>
                    <td><img src="__STATIC__/img/cont5_pic5.jpg"/></td>
                    <td><img src="__STATIC__/img/cont5_pic6.jpg"/></td>
                    <td><img src="__STATIC__/img/cont5_pic7.jpg"/></td>
                    <td><img src="__STATIC__/img/cont5_pic8.jpg"/></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="right_box">
        <ul>
            <li>
                <img class="img1" src="__STATIC__/img/kefu1.png"/>
                <img class="img2" src="__STATIC__/img/kefu2.png"/>
            </li>
            <li class="active er">
                <img class="img1" src="__STATIC__/img/pu1.png"/>
                <img class="img2" src="__STATIC__/img/pu2.png"/>
            </li>
            <li class="to_top" style="height: 69px;">
                <img class="img1" src="__STATIC__/img/to_top1.png"/>
                <img class="img2" src="__STATIC__/img/to_top2.png"/>
            </li>
        </ul>
        <div class="erweima">
            <img src="__STATIC__/img/erweima.jpg"/>
            <p>装修公司砂浆人人店</p>
        </div>
    </div>
    {include file='public/footer'}
    </body>
    <script>
        $(window).resize(function () {
            $(".cont4_center ").css("height", $(".cont4_left").css("height"));
        });
        $(function () {
            $(".cont4_center ").css("height", $(".cont4_left").css("height"));
            $(".to_top").click(function () {
                $('html,body').animate({scrollTop: 0}, 500);
            });
            $(".right_box ul li").hover(function () {
                $(this).addClass("active");
            }, function () {
                $(this).removeClass("active");
            });
            $(".right_box ul li.er").hover(function () {
                $(".erweima").stop().fadeIn();
            }, function () {
                $(".erweima").stop().fadeOut();
            });
            $(".header ul li").find(".span2").hide();
            $(".header ul li.active").find(".span1").hide();
            $(".header ul li.active").find(".span2").show();
            $(".header ul li.active").find(".underLine").css("width", "100%");
            $(".header ul li").hover(function () {
                $(this).addClass("active");
                $(this).find(".span1").hide();
                $(this).find(".span2").show();
                $(this).find(".underLine").stop().animate({width: "100%"});
            }, function () {
                $(this).removeClass("active");
                $(this).find(".span1").show();
                $(this).find(".span2").hide();
                $(this).find(".underLine").stop().animate({width: "0"});
            });

        });
    </script>
    </html>
